name: Release
on:
  release:
    types: 
      - published
permissions:
  contents: read
env:
  UV_FROZEN: 1
jobs:
  publish-package:
    name: Publish Package
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - name: Set Package Version
      run: uv version ${{ github.event.release.tag_name }}
    - name: Build Package
      run: uv build
    - name: Publish Package
      run: uv publish -t ${{ secrets.PYPI_TOKEN }}
  publish-docs:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Configure Git
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
    - name: Install uv and Activate Environment
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        activate-environment: true
    - name: Install Dependencies
      run: uv sync
    - name: Get Version
      id: get-version
      uses: battila7/get-version-action@v2
    - name: Publish Docs
      run: mike deploy --push --update-aliases ${{ steps.get-version.outputs.major }}.${{ steps.get-version.outputs.minor }} latest
